# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.whl

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.pytest_cache/
.coverage

# Environment variables
.env